@media (max-width:1200px) {
  .category-item .card{
    width: 200px;
    height: 200px;
  }

  .category-item .card img{
    height: 150px;
    width: 150px;
  }


}
@media (max-width: 991px) {
  .category-item .card{
    width: 300px;
    height: 200px;
  }

}



@media (max-width: 768px) {
  .prev, .next {
    font-size: 14px;
    padding: 8px;
}

    .category-item .card{
      width: 250px;
      height: 200px;
    }
}




@media (max-width: 580px) {

  .category-item .card{
    width: 200px;
    height: 200px;
  }
  .category-item .card img{
    height: 150px;
    width: 150px;
  }

  

}
@media (max-width: 480px) {

  .prev, .next {
    font-size: 12px;
    padding: 6px;
}

    .category-item .card{
      width: 170px;
      height: 170px;
    }
    
  .category-item .card img{
    height: 130px;
    width: 130px;
  }

  .category-item-name{
    font-size: 15px;
}
  



    .modal .main-image-box{
        height: 300px;
        width: 300px;
      }
      
      .modal .main-image {
        height: 300px;
        width: 300px;
      }

      .modal .image-box {
        margin: 0px 8px 8px 0px;
        height: 50px;
        width: 50px;
        border: 1px solid #286d34;
        border-radius: 5px;
      }

      .modal .details-box #modalProductPrice{
        font-size: 40px;
       
      }

      .modal .details-box #modalProductPrice{
        font-size: 40px;
       
      }

      .testimonial-section .card-text{
        font-size: 10px;
      }
      .testimonial-section .card-title{
        font-size: 15px;
        font-weight: bold;
      }
      .testimonial-section .card-body img{
        width: 50px;
      }
      .testimonial-section .card-text{
        max-height: 100px;
        overflow-y: auto;
      }
}


@media (max-width: 380px) {
  .category-item .card{
    width: 150px;
    height: 160px;
  }
}
