*{
    /* font-family: "Tiro Bangla", serif; */
    font-family: "Poppins", sans-serif;
}

:root{
  --main-color: #9CDCF8;
  --text-color: #000000;
  --second-color: #e4e4e4;
  --other-color: #c6c9d8bf;
}


/* All common code  */
.section-title{
  margin-top: 50px;
}
.section-title hr{
    width: 150px !important;
    border: 0 !important;
    outline: 0 !important;
    border: 3px solid var(--main-color) !important;
    background-color: none !important;
    height: 3px !important;
    margin: auto;
    margin-bottom: 50px; 
}


/* Nabvar-section code  */

.navbar{
  background-color: var(--second-color) !important;
}
.website-logo img{
    width: 100px;
    margin-right: 40px;
}
.nav-item{
    color: black;
}
.nav-link{
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.navbar {
    z-index: 1030;
    position: relative;
}







/* Slider-section code  */
.carousel {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  font-size: 18px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}




/* Category-section code  */
.category-section{
    margin: 50px 0px 50px 0px;
}
.category-item .card{
    width: 17rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.category-item .card img{
  height: 250px;
  width: 250px;
  padding: 30px;
  border-radius: 50%;
  display: flex;
  margin: auto;
}

.category-item-name{
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: -40px;
    font-size: 20px;
}
.category-link{
    text-decoration: none;
}


/*Product Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto; /* Center the modal */
    padding: 20px;
    border: 1px solid #286d34;
    border-radius: 10px;
    width: 100%; /* Width of the modal content */
    height: 100vh; /* Maximum height of the modal content */
    overflow: auto; /* Enable scroll inside the modal if needed */
    display: flex;
  }
  
  .close-button {
    color: #f60808;
    float: right;
    font-size: 38px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Main image and small images styles */

  
  .modal .main-image-box{
    height: 400px;
    width: 400px;
  }
  
  .modal .main-image {
    height: 400px;
    width: 400px;
  }
  .modal .small-images {
    display: flex;
    /* justify-content: space-between; */
    padding: 8px;
    /* align-items: center; */
  }
  
  .modal .image-box {
    margin: 0px 8px 8px 0px;
    height: 100px;
    width: 100px;
    border: 1px solid #286d34;
    border-radius: 5px;
  }
  
  .modal .image {
    height: 100%;
    width: 100%;
  }
  
  .modal .details-box {
    /* width: 50%; */
    padding-left: 30px;
  }
  
  .modal .details-box h1 {
    color: #286d34;
  }
  
  .modal .inputs {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .modal .details-box #modal-product-stock{
    font-size: 20px;
    color: rgb(255, 0, 89);
    font-weight: 600;
  }
  
  .modal .details-box #modalProductPrice{
    font-size: 40px;
   
  }
  
  .modal .inputs td input {
    height: 30px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  .modal .inputs td select {
    height: 35px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  
  .modal button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 14px;
    cursor: pointer;
  }
  .modal button:hover {
    background-color: darkgreen;
  }


 .testimonial-section .card-text{
    max-height: 120px;
    overflow-y: auto;
  }
  .testimonial-section img{
    width: 80px;
  }
  .testimonial-section .card{
    border-radius: 15px;
  }
  .testimonial-section button{
    margin: 50px auto !important;
    background-color: var(--main-color) ;
    border: none;
  }
  .testimonial-section button:hover{
    background-color: #285830 ;
  }


/* footer-section css  */

.footer-section{
  background: #111723;
  color: white;
}
.fd-footer{
  margin-top: 50px;
  padding: 100px;
}
.footer-section-content p{
  color: #ABAEB5;
  font-size: 15px;
  width: 250px;
}
.footer-section-content h1{
  font-size: 20px;
  width: 250px;
}
.footer-section-content h3{
  color: #555963;
  font-size: 15px;
}
.footer-section-content img{
  width: 140px;
  margin-right: 20px;
}
.footer-first-content h1, .footer-first-content a{
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}
.footer-logo{
  width: 250px !important;
  margin-left: -35px;
}
.footer-second-content ul{
  list-style: none;
  margin-left: -30px;
  margin-top: 20px;
}
.footer-second-content a{
  text-decoration: none;
  color: #ABAEB5;
}

.icons img{
  width: 40px;
  border-radius: 40px;
  cursor: pointer;
}
.subscriber-form input{
  padding: 5px 20px;
}