:root{
    --main-color: #03aefd;
    --second-color: #e4e4e4;
    --text-color: #000000;
    --other-color: #c6c9d8bf;
  }
.product-card img {
    object-fit: cover;
    aspect-ratio: 1/1; /* Ensures 1:1 aspect ratio */
    width: 100%;
    height: auto;
}
.product-card ,.card {
    border: none !important;
    margin: 0;
}
.product-card .product-name {
    font-size: 25px;
    font-weight: bold;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-card .product-stock{
    display: none;
}
.product-card .product-discount{
    display: none;
}
.old-price {
    text-decoration: line-through;
    color: red;
    margin-right: 10px;
}

.new-price {
    font-weight: bold;
    color: green;
}

.rating i {
    color: gold;
}
.rating .dark-gray-star {
    color: rgb(156, 155, 148);
}

.order-btn {
    width: 100%;
}

.product-card .card-text {
    max-height: 80px; /* Set the maximum height for the text */
    overflow-y: auto; /* Add vertical scrollbar if content exceeds max-height */
    margin-bottom: 10px;
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
.product-card .card-text::-webkit-scrollbar {
    width: 8px;
}

.product-card .card-text::-webkit-scrollbar-thumb {
    background-color: var(--main-color); /* Scrollbar thumb color */
    border-radius: 10px;
}

.product-card .card-text::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Scrollbar track color */
}

/* Firefox */
.product-card .card-text {
    scrollbar-color: var(--main-color) #f1f1f1; /* thumb color track color */
    scrollbar-width: thin; /* Options: auto, thin */
}

.product-ex-img{
    display: none;
    
}

.order-btn{
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 5px;
}
.order-btn:hover{
    background-color: #096088;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    
}

@media ( max-width: 480px){
    .product-card{
        width: 10rem;
    }
    .product-card img {
        object-fit: cover;
        width: 100px ;
        height: 100px ;
    }
    .product-card .product-name {
        font-size: 15px;
    }

    .old-price {
        text-decoration: line-through;
        color: red;
        margin-right: 5px;
        font-size: 15px;
    }

    .new-price {
        font-size: 15px;
    }

    .rating i {
        color: gold;
        font-size: 10px;
    }

    .order-btn {
        width: 100%;
        font-size: 10px;
    }

    .product-card .card-text {
        max-height: 50px; 
        font-size: 12px;
    }

    .order-btn{
        background-color: var(--main-color);
        border: none;
        border-radius: 5px;
        font-weight: bold;
        padding: 5px;
        width: 100px;
    }

}